<html>
	<head>
		<h1>Squirrel Stats</h1>
	</head>
	<body>
		<ul>
			<li><strong>Squirrel Age Counts:</strong>
				<ul>
					<li><strong>Adult: </strong>{{adult_count}}</li>
					<li><strong>Juvenile: </strong>{{juvenile_count}}</li>
				</ul>
			<li><strong>Number of Squirrels Eating:</strong> {{eating_counts}}</li>
			<li><strong>Number of Squirrels Kuking: </strong> {{kuks_count}}</li>
			<li><strong>Number of Squirrels Quaaing: </strong>{{quaas_count}}</li>
			<li><strong>Number of Squirrels Moaning: </strong>{{moans_count}}</li>
		</ul>
	</body>
</html>
